body {
    min-width: 250px;
    min-height: 400px;
    background-color: #E1F5FE;
}

a {
    text-decoration: none;
    color: #2196F3;
}

#header {
    height: 50px;
    text-align: center;
    vertical-align: middle;
    background-color: #009688;
    line-height: 50px;
    color: #E1F5FE;
    font-size: 2em;
    border-bottom: 1px solid #004D40;
}

#block_wait {
    padding: 10px;
    text-align: center;
}

#block_form {
    padding: 10px;
    text-align: center;
}

#block_account {
    text-align: center;
}

#footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: #B2DFDB;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

#error {
    padding: 5px;
    color: #B71C1C;
    text-align: center;
    font-weight: bold;
}

#mark_as_read_btn {
    text-decoration: none;
    color: #2196F3;
    cursor: pointer;
}
